@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.navbar {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgb(0, 68, 102), #005577);
  padding: 0 2rem;
  height: 80px; /* Altura fija */
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar h1 {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease;
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #00ccff;
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}

.navbar a:hover {
  color: #00ccff;
}

.logo-container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 1rem;
}

.logo-container .logo {
  height: 100px;
  width: auto;
  object-fit: contain;
  transform: translateY(1px);
  filter: brightness(0) invert(1);
}
